@media (max-width: 425px) {
.wrapper {
}
.discover {
	&__text {
		font-size: 50px;
	}
	&__button {
	}
	&__you {
	}
}
.button {
}
.skincare {
	&__header-text {
		font-size: 32px;
	}
	&__h2 {
	}
	&__text {
	}
	&__button {
	}
	&__img-1 {
	}
	&__img-2 {
	}
	&__img-3 {
	}
	&__img-4 {
	}
	&__img-5 {
	}
}
.img {
	&__photo {
	}
}
.products {
	&__header-text {
		font-size: 70px;
	}
	&__text {
	}
	&__carts {
	}
}
.feature {
	&__img {
	}
	&__main {
	}
	&__header {
		font-size: 50px;
	}
	&__text {
		font-size: 40px;
	}
	&__info {
	}
	&__button {
	}
}
.companies {
	&__text {
	}
	&__logos {
	}
	&__logo {
	}
	&__img {
	}
}
.services {
	&__service {
	}
	&__service_first {
	}
	&__link {
	}
	&__service_second {
	}
}
.skinn {
	&__header-text {
	}
	&__blogs {
	}
	&__blog {
	}
}
.blog {
	&__img {
	}
	&__info {
	}
	&__text {
	}
	&__button {
	}
}
}