/*-----Обнуление-----*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

/*-----Импорты-----*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Style+Script&display=swap');

/*-----Переменные-----*/
:root {
  --secondary-color: #E7DED8;
  --brown-color: #68513F;
  --white-color: #F1EBE7;

  --color-muted: #aaa; // Обвотка кнопок + Auth
  
  --color-black: #000; // Цвет шрифта
  --color-red: red;

  // Доп, мб убрать
  --color-white: var(--white-color); // #FFF
  --color-dark-gray: var(--brown-color); // #333

  // Bg всего кроме main
  --color-panel-bg: var(--secondary-color); //#1E313B

  // Feedback admin
  --color-success: var(--brown-color); // #7b56f1

   // Auth
  --color-accent-hover: var(--color-muted); // #f98c39


  // для кнопок
  --color-accent: #FFF;
  font-family: "Inter";
}

/*-----Отзывчивость-----*/
$maxWidth: 1340;
@function adaptNum($Size: 0, $MinSize: 1) {
  $adaptSize: calc($Size * 100 / $maxWidth * 1vw);
  $Size: ($Size + px);
  $MinSize: ($MinSize + px);
  @return clamp($MinSize, $adaptSize, $Size);
}

/*-----Текста-----*/
@font-face {
  font-family: "STSong"; 
  src: url("../../fonts/chinese.stsong.woff") format("woff"); 
  font-style: normal; 
  font-weight: normal; 
} 

/*-----Для скрола-----*/
section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}


.button {
  color: var(--brown-color);
  background: var(--white-color);
  border: 1px solid var(--color-muted);
  width: 305px;
  height: 45px;
  font-size: 14px;
  line-height: 19.6px;
  transition: background 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  cursor: pointer;

  &:hover {
    background: var(--color-accent);
  }
}

/*-----Стилизация-----*/
.wrapper {
  width: 1340px;
  margin: 0 auto;
}
.header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__logo {
    margin: 0 395px 0 0;
  }
  &__nav {
  }
  &__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__nav-point {
    margin: 0 40px 0 0;
    font-size: 17px;
    line-height: 19.6px;
    &::last-child {
      margin: 0;
    }
  }
  &__link {
    color: var(--color-black);
    transition: color 0.3s ease;
    &:hover {
      color: var(--brown-color);
    }
  }
  &__cart {
    display: flex;
  }
  &__cart-text {
    font-size: 17px;
    line-height: 19.6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px 0 0;
  }
  &__cart-info {
    width: 24px;
    height: 24px;
    background: var(--secondary-color);
    font-size: 11px;
    line-height: 24px;
    color: var(--brown-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__open-main-nav {
    display: none;
  }
}
.discover {
  background: no-repeat right url("../../img/discover.png");
  height: 750px;
  padding: 0 0 0 50px;
  &__text {
    font-family: "STSong";
    font-size: 88px;
    line-height: 126px;
    padding: 150px 0 0 0;
  }
  &__button {
    margin: 45px 0 0 0;
    color: var(--brown-color);
    background: var(--white-color);
    border: 1px solid var(--color-muted);
    width: 143px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 19.6px;
  }
  &__you {
    font-size: 175px;
    line-height: 182px;
    font-family: "Style Script";
    color: var(--brown-color);
    position: absolute;
    transform: rotate(5.54deg);
    left: 700px;
    top: 480px;
  }
}
.skincare {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  &__header-text {
    margin: 240px 0 0 0;
    text-align: center;
    font-size: 65px;
    line-height: 98px;
    font-family: "STSong";
  }
  &__h2 {

    font-size: 137px;
    line-height: 112px;
    font-family: "Style Script";
    color: var(--brown-color);
    transform: rotate(-5.8deg);
  }
  &__text {
    margin: 20px 0 0 0;
    text-align: center;
    font-size: 14px;
    line-height: 19.6px;
    width: 649px;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 240px 0;
    color: var(--brown-color);
    background: var(--white-color);
    border: 1px solid var(--color-muted);
    border-radius: 73px;
    width: 95px;
    height: 45px;
    font-size: 14px;
    line-height: 19.6px;
  }
  &__img-1 {
    position: absolute;
    top: 117px;
    left: 46px;
  }
  &__img-2 {
    position: absolute;
    top: 20px;
    left: 982px;
  }
  &__img-3 {
    position: absolute;
    top: 488px;
    left: 104px;
  }
  &__img-4 {
    position: absolute;
    top: 266px;
    left: 1064px;
  }
  &__img-5 {
    position: absolute;
    top: 569px;
    left: 976px;
  }
}
.img {
  &__photo {
  }
}
.products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__header-text {
    margin: 90px 0 0 0;
    font-size: 137px;
    line-height: 112px;
    font-family: "Style Script";
    color: var(--brown-color);

  }
  &__text {
    margin: 5px 0 0 0;
    font-size: 65px;
    line-height: 98px;
    font-family: "STSong";
  }
  &__carts {
    display: flex;
  }
  &__cart {
  }
}
.cart {
  padding: 10px;
  background: var(--secondary-color);
  border-radius: 10px;
  width: 325px;
  height: 482px;
  margin: 0 14px 0 0;

  &::last-child {
    margin: 0;
  }
  &__img {
    width: 305px;
    height: 305px;
  }
  &__text {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
  }
  &__info {
    font-size: 13px;
    line-height: 19.6px;
  }
  &__price {
    font-size: 14px;
    line-height: 19.5px;
  }
  &__name {
    margin: 6px 0 0 0;
    font-size: 19px;
    line-height: 26px;
    height: 60px;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--brown-color);
    background: var(--white-color);
    border: 1px solid var(--color-muted);
    width: 305px;
    height: 45px;
    font-size: 14px;
    line-height: 19.6px;
  }
}
.feature {
  margin: 90px 0 0 0;
  display: flex;
  align-items: center;
  &__img {
    width: 620px;
    height: 481px;
  }
  &__main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 0 180px;
  }
  &__header {
    font-size: 137px;
    line-height: 112px;
    font-family: "Style Script";
    color: var(--brown-color);
    text-align: center;
  }
  &__text {
    margin: 9px 0 0 0;
    font-size: 70px;
    line-height: 98px;
    text-align: center;
    font-family: "STSong";
  }
  &__info {
    margin: 25px 0 0 0;
    font-size: 17px;
    line-height: 30.6px;
    text-align: center;
    width: 460px;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0 0;
    color: var(--brown-color);
    background: var(--white-color);
    border: 1px solid var(--color-muted);
    width: 115px;
    height: 45px;
    font-size: 14px;
    line-height: 19.6px;
  }
}
.companies {
  margin: adaptNum(202) 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__text {
    font-size: 28px;
    line-height: 39.2px;
    text-align: center;
    width: 780px;
  }
  &__logos {
    margin: 56.75px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__logo {
    margin: 0 40px 0 0;
    &::last-child {
      margin: 0;
    }
  }
  &__img {
  }
}
.services {
  margin: 80px 200px;
  display: flex;
  &__service {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 518px;
    height: 518px;
    background: url("../../img/services3.png");
    &_first {
      width: 403px;
      background: url("../../img/services1.png");
    }
    &_second {
      background: url("../../img/services2.png");
    }
    transition: opacity 0.3s ease, filter 0.3s ease;

    &:hover {
      opacity: 0.8;
      filter: brightness(0.8) sepia(1) hue-rotate(10deg) saturate(300%) contrast(0.8)
              drop-shadow(0 0 5px var(--brown-color));
      cursor: pointer;
    }
  }
  &__link {
    width: 150px;
    height: 150px;
    color: #FFF;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFF;
    font-size: 13px;
    line-height: 19.6px;
  }
}

.skinn {
  margin: 0 0 adaptNum(127) 0;
  &__header-text {
    font-family: "STSong";
    font-size: 66px;
    line-height: 98px;
    text-align: center;
  }
  &__blogs {
    margin: 50px 0 0 0;
    display: flex;
  }
  &__blog {
  }
}
.blog {
  margin: 0 50px 0 0;
  display: flex;
  &__img {
    width: 308px;
    height: 213px;
    margin: 0 30px 0 0;
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__text {
    font-family: "STSong";
    font-size: 28px;
    line-height: 36.4px;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 58px 0 0 0;
    color: var(--brown-color);
    background: var(--white-color);
    border: 1px solid var(--color-muted);
    border-radius: 166px;
    width: 115px;
    height: 45px;
    font-size: 14px;
    line-height: 19.6px;
  }
}
.footer {
  display: flex;
  width: 100%;
  height: 353px;
  background: var(--secondary-color);
  font-size: 14px;
  line-height: 19.6px;
  padding: 50px;
  margin: 0 0 60px 0;
  &__skinn {
    display: flex;
    flex-direction: column;
    margin: 0 100px 0 0;
  }
  &__logo {
    width: 86px;
    height: 26px;
  }
  &__wise {
    margin: 21px 0 0 0;
    width: 160px;
  }
  &__web {
    &_first {
      margin: 57px 0 0 0;
    }
  }
  &__link {
    color: var(--brown-color);
    transition: color 0.3s ease;
    &:hover {
      color: var(--color-black);
    }
  }
  &__pages {
    margin: 0 100px 0 0;
  }
  &__header {
    font-family: "STSong";
    font-size: 27px;
    line-height: 39.2px;
    margin: 0 0 29px 0;
  }
  &__lists {
    display: flex;
  }
  &__ul-1 {
    margin: 0 77px 0 0;
  }
  &__li {
    margin: 0 0 9px 0;
  }
  &__ul-2 {
  }
  &__contacts {
    margin: 0 100px 0 0;
    
  }
  &__contact {
    color: var(--brown-color);
  }
  &__contact-text {
    margin: 40px 0 0 0;
  }
  &__for-you {
  }
  &__schedule {
    margin: 0 0 70px 0;
  }
  &__schedule-text {
  }
  &__networks {
    display: flex;
  }
  &__network {
    margin: 0 40px 0 0;
    &::last-child {
      margin: 0;
    }
  }
}

// -----scrollToTop-----
.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 15px;
  font-size: 24px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 1000;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}


/* -----Swiper----- */
.swiper-container {
  width: 1340px;
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 105%;
}

.swiper-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  margin-right: 5px;
}

.swiper-pagination {
  position: absolute;
  top: 95% !important;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  background-color: brown;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border-radius: 50%;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-button-next, .swiper-button-prev {
  color: brown;
  font-size: 24px;
  position: absolute;
  top: 50%;
  z-index: 9999;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}